*{
    padding:0;
    margin:0;
}
body{
    height: 100vh;
    background: #1e4e54;
    display: flex;
    align-items: center;
}
.contenedor{
    width: 920px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient( #B7D6C7, #FFE2D1);
    overflow: hidden;
}
.dino{
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}
.dino-corriendo{
    animation: animarDino 0.25s steps(2) infinite;

}
.dino-estrellado{
    background-position-x:-252px ;
}
.suelo{
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;
    background: url(suelo.png) repeat-x 0px 0px ;
}
.bestScores{
  width: 300px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 55px;
    z-index: 10; 
    
    color: #D48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: right;

}
.score{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #D48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;

}
.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left:  600px;
    z-index: 1;
    background: url(cactus1.png) no-repeat;

}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(cactus2.png) no-repeat;
}


.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}
.mediodia {
    background: linear-gradient(  #edd7ca,#fbceeb);
   
}

.tarde {
    background: linear-gradient(  #ffdcf3,#ffadad);
    
}

.noche {
    background: linear-gradient(   #918bba, #ffadad )
    
}
.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(nube.png) no-repeat;
    background-size: 92px 26px;
}
@keyframes animarDino {
from{
    background-position-x: -84px;
}
to{
    background-position-x:-252px ;
}
}

@media (max-width: 500px) {
    .player{
        width: 30%;
      height: 10%;
      position: absolute;
      top: 15%;
      left:  55px;
      z-index: 10; 
      
      color: #e83706;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
  
    }
.dino-estrellado {
        background-position-x: -252px;
    }
    .dino {
        width: 74px;
        height: 64px;
        position: absolute;
        bottom: 22px;
        left: 42 px;
        z-index: 2;
        background: url(dino.png) repeat-x 0px 0px;
        background-size: 318px 64px;
        background-position-x: 0px;}

}


/* ------------------ */
.play{
     
    position: absolute;
    bottom: 20%;
    right: 50%;
    z-index: 10; 
    
   
}

.rainbow-button {
    width:calc(10vw + 6px);
    height:calc(80px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:3vw;
    font-weight:bold;
    text-decoration: none;
  }
  .rainbow-button:after {
    /* content:attr(alt);
    width:20vw;
    height:8vw; */
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  .player{
      width: 30%;
    height: 10%;
    position: absolute;
    top: 15%;
    left:  55px;
    z-index: 10; 
    
    color: #D48872;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;

  }
  .currentUser{
        
    height: 10%;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 10;  

color: #f7e96a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    
  }
  .usuarioenviar{

    
        font-size:15px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width:140px;
        height:50px;
        border-width:1px;
        color:#fff;
        border-color:#c584f3;
        font-weight:bold;
        border-top-left-radius:6px;
        border-top-right-radius:6px;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:6px;
        box-shadow:inset 0px 1px 0px 0px #efdcfb;
        text-shadow:inset 0px 1px 0px #9752cc;
        background:linear-gradient(#dfbdfa, #bc80ea);
      }
      
      .usuarioenviar:hover {
        background: linear-gradient(#bc80ea, #dfbdfa);
      }
.info{
    position: absolute;
    botton: 10%;
    left: 40%;
    z-index: 10;  

color: #f7e96a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right
}
.celular{
    display:none;
} 
